ul{
	padding: 0;
}
.chat__item{
	list-style: none;
	padding: 10px;
	font-weight: bold;
	background-color: #8080806e;
	margin-bottom: 3px;
	cursor: pointer;
}
.active{
	background-color: #00adffeb;
}
.chat__items{
	overflow-y: scroll;
	height: 33rem;
	scroll-behavior: smooth;
}

.chat__items::-webkit-scrollbar{
	display: none;
}
.chats{
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	scroll-behavior: smooth;
	height: 100%;
	position: relative;
}
.chats::-webkit-scrollbar{
	display: none;
}
#form__chat {
  display: none;
}

#form__chat input[type = "text"]{
	width: 90%;
}
#form__chat input[type = "submit"]{
	width: 10%;
	background-color: #0d6efd!important;
	color:white;
}
.chat__names{
	width: 30%;
	font-size: 1.25rem;
	margin: 10px;
}
.chat{
	display: flex;
	justify-content: space-between;
	padding: 3rem;
	margin: 1rem;
	height: 39rem;
	border: 2px solid grey;
	box-shadow: 5px 2px 2px 2px grey;
	font-size: 1.25rem;
}
.recepients{
	background-color: #0d6efd!important;
	color: white;
	width: 100%;
	padding: 10px;
	font-weight: bold;
	font-size: 1.25rem;
}
.chat__body{
	width: 70%;
}

.chat__message{
	margin-bottom: 1.25rem;
	padding: 10px;
	word-wrap: break-word;
}
.align__left{
	text-align: left;
	background-color: #8080806e;
	border-bottom-left-radius: 10px;
}
.align__right{
	text-align: right;
	background-color: antiquewhite;
	border-bottom-right-radius: 10px;
}