<div style="width: 60%; margin: auto; padding: 30px;" class="input-group mb-3 inputTodo">
  <input id="inputTodo" type="text" class="form-control" placeholder="TODO" aria-label="Recipient's username" aria-describedby="button-addon2">
  <button onclick="addTodoItem()" class="btn btn-secondary" type="button" id="button">Add TODO</button>
</div>