<!DOCTYPE html>
<html>
<head>
	<%-include('../partial/head.ejs');%>
  
<link href="/css/login.css" rel="stylesheet" type="text/css">
</head>
<body>
	<%-include('../partial/navbar_normal.ejs');%>
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Login Form -->
    <form id="form__login" action="/login" method="POST">
      <input type="text" id="email" class="fadeIn second" name="email" placeholder="Email">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/register">Not Registered? Register Now</a>
    </div>
  </div>
  <% if (message != "") { -%>
      <div class="message">
          <%=message%>
        </div>
  <% }-%>
</body>
</html>