<!DOCTYPE html>
<html>
<head>
	<%-include('../partial/head.ejs');%>
</head>
<body>
	<%-include('../partial/navbar_normal.ejs');%>
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Login Form -->
    <form id="form__register" action="/register" method="POST">
      <input type="text" id="email" class="fadeIn second" name="email" placeholder="Email">
      <input type="text" id="name" class="fadeIn third" name="name" placeholder="Name">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
      <input type="submit" class="fadeIn fourth" value="Register">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/login">Already Registered ?</a>
    </div>
  </div>
  <% if (message != "") { -%>
      <div class="message">
          <%=message%>
        </div>
  <% }-%>
  <script src="/javascript/formController.js" type="text/javascript"></script>
</body>
</html>